server:
  port: 8082

spring:
  application:
    name: user-management-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_management_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 6388065025
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

security:
  jwt:
    secret: "myVeryLongAndSecureJwtSecretKeyForApiGatewayThatIsAtLeast32Characters"
    issuer: "auth-service"
    audience: "api"

logging:
  level:
    root: INFO                       # global logging
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    com.example.usermanagementservice.security: DEBUG  #  ENABLE filter logging
    com.example.usermanagementservice: DEBUG
