version: "3.8"

services:
  authservice:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: authservice
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: unless-stopped
